.Container{
    width: 98%;
    margin: 0 auto;
}

.d-none{
    display: none;
}

.modal-header, .modal-footer{
    padding: 0.25rem 1rem !important;
}

.modal-body{
    min-height: 190px;
}

.buttonBar{
    float: right;
}